# Зависимости
node_modules/
venv/
.venv/

# Артефакты сборки
dist/
build/
target/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class
.Python
.python-version
.pytest_cache/
.mypy_cache/

# Переменные окружения
.env
.env.local
.ENV
*.env.*

# IDE и редакторы кода
.vscode/
.idea/
*.swp
*.swo
*.tmp

# Логи
*.log

# Системные файлы ОС
.DS_Store
Thumbs.db

# Тестирование и покрытие кода
.coverage
coverage/
htmlcov/
.nyc_output/
coverage.xml

# Архивы
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.gz
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo