# Общие
.DS_Store
*.log
*.tmp

# Node
**/node_modules
frontend/dist
frontend/.vite
pnpm-lock.yaml

# IDE/OS
.vscode/
.idea/
Thumbs.db

# Наши секреты
backend/.env
# локальные бэкапы/мусор
docker-compose.yml.bak-*
nginx/nginx.conf.bak-*
*.log

# nginx backups
nginx/nginx.conf.bak*
*.bak

frontend.zip

frontend.zip
