# Backend env
PORT=3000
JWT_SECRET=supersecret_change_me
DB_HOST=mysql
DB_PORT=3306
DB_USER=ferm
DB_PASSWORD=fermpass
DB_NAME=fermdb
DB_CONNECTION_LIMIT=10


# Prices (можно менять)
PURCHASE_BASE_PRICE=2
PURCHASE_ADV_PRICE=5
SALE_BASE_PRICE=4
SALE_ADV_PRICE=10

# Garden
GARDEN_SLOTS=6
GROWTH_MINUTES=10

# Логи в OpenSearch (оставьте пустыми, если не используете)
OPENSEARCH_NODE=http://opensearch:9200
OPENSEARCH_LOG_INDEX=ferm-logs
OPENSEARCH_USERNAME= shchekin
OPENSEARCH_PASSWORD= Qweasd123#
#OPENSEARCH_TLS_REJECT_UNAUTHORIZED=false
