# === Source: Docker logs from ferm-nginx (stdout/stderr) ===
[sources.nginx_docker]
type = "docker_logs"
include_containers = ["ferm-nginx"]

# === Transform: parse JSON lines from Nginx access_log ===
[transforms.nginx_json]
type   = "remap"
inputs = ["nginx_docker"]
source = '''
# попытка распарсить как JSON
parsed, err = parse_json(.message)
if err == null {
  . = merge(., parsed)
  del(.message)
}

# нормализуем timestamp, если есть поле "time"
if exists(.time) {
  ts, err = to_timestamp(.time)
  if err == null { .["@timestamp"] = ts }
}

.IntegrationName = "Ferma"

.source = "nginx"
'''

# === Sink: send to OpenSearch ===
[sinks.opensearch]
type     = "elasticsearch"
inputs   = ["nginx_json"]
endpoint = "http://opensearch:9200"
index    = "ferm-logs"
mode     = "bulk"
compression = "none"
batch.max_events = 200
batch.timeout_secs = 5
